# ansible.cfg
# https://github.com/ansible/ansible/blob/devel/examples/ansible.cfg
# https://docs.ansible.com/ansible/latest/reference_appendices/config.html

[inventory]

# enable inventory plugins, default: 'host_list', 'script', 'yaml', 'ini'
enable_plugins = ini

[defaults]

interpreter_python = auto_legacy_silent

inventory = ./inventories/development

# vault_password_file = ~/.vault_password

# log_path = ./log/ansible.log

roles_path = ./roles

#library         = ~/.ansible/plugins/modules:/usr/share/ansible/plugins/modules

#module_utils    = ~/.ansible/plugins/module_utils:/usr/share/ansible/plugins/module_utils

#action_plugins     = /usr/share/ansible/plugins/action
#become_plugins     = /usr/share/ansible/plugins/become
#cache_plugins      = /usr/share/ansible/plugins/cache
#callback_plugins   = /usr/share/ansible/plugins/callback
#connection_plugins = /usr/share/ansible/plugins/connection
#lookup_plugins     = /usr/share/ansible/plugins/lookup
#inventory_plugins  = /usr/share/ansible/plugins/inventory
#vars_plugins       = /usr/share/ansible/plugins/vars
#filter_plugins     = /usr/share/ansible/plugins/filter
#test_plugins       = /usr/share/ansible/plugins/test
#terminal_plugins   = /usr/share/ansible/plugins/terminal
#strategy_plugins   = /usr/share/ansible/plugins/strategy

retry_files_enabled = False

stdout_callback = debug
display_ok_hosts = True
display_skipped_hosts = False

callback_whitelist = profile_roles, profile_tasks

nocows = True
